@media (min-width: 375px) and (max-width: 768px) {
  
	.slider_section_cervezas .slider_container_cervezas {
  color: #fefefe;
  background-color: #c9a155;
  background-image: url("../images/bg_hero_tablet.png");
  border-radius: 0 0 15px 15px;
		overflow: hidden;
}
}
@media (min-width: 375px) and (max-width: 768px) {
.slider_section_cervezas .img-box img {
  width: 350px;
}}


@media (min-width: 375px) and (max-width: 768px) {
  
	.slider_section .slider_container {
  color: #fefefe;
  background-color: #c9a155;
  background-image: url("../images/bg_hero_tablet_1.png");
  border-radius: 0 0 15px 15px;
		overflow: hidden;
}
.shop_section .box .img-box img {
  
    max-height: 130px;
  }
}
@media (min-width: 768px) and (max-width: 1367px) {
.slider_section .slider_container {
    color: #fefefe;
    background-color: transparent;
    background-image: url(../images/bg_hero_1.jpg);
    border-radius: 15px 15px 15px 15px;
    margin: 0 3% 2% 3%;
}
.slider_section .detail-box p {
    font-weight: bold;
    font-size: 2.5rem;
    
  }
}


@media (min-width: 768px) and (max-width: 1367px) {
        .slider_section .img-box .img-banner-2{
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
                    width: 115%;
            
        }}

@media (min-width: 768px) and (max-width: 1367px) {
            .slider_section .img-box .img-banner-3{
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: center;
                    -ms-flex-pack: center;
                        justify-content: center;
                        width: 100%;
                
            }}


            @media (min-width: 1367px) and (max-width: 1921px) {
                .slider_section .img-box .img-banner-3{
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                        -ms-flex-pack: center;
                            justify-content: center;
                            width: 80%;
                    
                }}

@media (min-width: 375px) and (max-width: 768px) {
.slider_section .img-box img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            width: 100%;
    
}}

@media (min-width: 375px) and (max-width: 768px) {
.slider_conteiner .img-box img {
  width: 360px;
}
}

@media (min-width: 375px) and (max-width: 768px) {
.slider_section .detail-box p {
  font-weight:700;
  font-size: 3rem;
  margin-top: 25px;
	
}}


@media (max-width: 1120px) {
    .saving_section .detail-box {
        padding: 0;
    }

}

@media (max-width: 1120px) {
    .saving_section .box {
        max-height: 750px;
    }
    .saving_section .row {
        max-height: 750px;
    }

    .saving_section .detail-box p {
        font-size: 2.5rem;
    }
    .layout_padding {
        padding-top: 0px;
        padding-bottom: 90px;
    }

}
@media (max-width: 1366px) {
.saving_section .box {
    background-color: transparent;
    color: #ffffff;
    border-radius: 15px;
    max-height: 300px;}}

@media (max-width: 992px) {
    .user_option {
        justify-content: center;
        margin-left: 0;
        margin-top: 10px;

    }

    .custom_nav-container {
        flex-direction: row;
    }

    .custom_nav-container .navbar-nav {
        align-items: center;
    }

    #navbarSupportedContent .navbar-nav .nav-link {
        margin: 5px 0;
    }

    .slider_section .detail-box {
        padding-left: 15px;
    }

    .slider_section .detail-box h1 {
        font-size: 3rem;
    }

    .slider_section .img-box {
        padding: 0;
    }

    .saving_section .detail-box {

        margin-bottom: 30px;
    }

    .saving_section .box {
        background-color: transparent;
        color: #ffffff;
        border-radius: 15px;
        max-height: 530px;}

    .client_section .box {
        margin: 15px 25px;
    }

    .client_section .carousel_btn-box {
        display: flex;
        justify-content: center;
        margin-top: 45px;
    }

    .client_section .carousel-control-prev,
    .client_section .carousel-control-next {
        position: unset;
        margin: 0 2.5px;
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 768px) {
    .hero_area {
        padding: 0 25px;
    }

    .slider_section .img-box {
        margin-bottom: 45px;
    }

    .saving_section,
    .gift_section {
        padding-left: 25px;
        padding-right: 25px;
    }

    .gift_section .box {
        padding: 45px 0;
    }

    .gift_section .img-box {
        padding: 0 15px;
        margin-bottom: 45px;
    }

    .info_section .row>div {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .info_section {
        margin: 0 25px 25px;
    }

}

@media (max-width: 576px) {
    .contact_section {
        padding-left: 25px;
        padding-right: 25px;
    }
	
}

@media (max-width: 480px) {

    .saving_section .detail-box,
    .gift_section .detail-box {
        padding: 0 5px;
    }
}

@media (max-width: 420px) {}

@media (max-width: 376px) {}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}